@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Satisfy&display=swap');


.title {
    margin: 0;
    border: 0;
    display: flex;
    background-image: url("imgs/Rose.png");
    background-repeat: no-repeat;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    }
h1 {
    font-family: 'Satisfy', cursive;
    font-weight: 800;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #EC9EC0;
    -webkit-text-stroke: 1px #F80880;
}


.menu-secc {
    height: 40px;
    left: 0px;
    top: 54px;
    background: #EBE0D0;
    color: #A91B60;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}